<footer class="container">
    <div class= "row only-mobile">
        <div class="col-6">
            <a class="btn btn-primary btn-block text-center" href="tel:++390000000"><i class="fa fa-phone" aria-hidden="true"></i> Call</a>
        </div>
        <div class="col-6">
            <a class="btn btn-success btn-block text-center" href="https://api.whatsapp.com/send?phone=+390000000"><i class="fab fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
        </div>
    </div>
</footer>