<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="/">
       <img src="/images/logo.png" width="50" height="50" class="d-inline-block" alt=""> Sourire
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav ml-auto">
          <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
          </li>
          
          <li class="nav-item">
               <a class="nav-link" href="/menu">Menu</a>
          </li>
          
          <li class="nav-item">
               <a class="nav-link" href="/reserve">Reservation</a>
          </li>
          
          <li class="nav-item">
               <a class="nav-link" href="/calendar">Reservation List</a>
          </li>

          <li class="nav-item">
               <a class="nav-link" href="/locate">Our Location</a>
          </li>
          
          <li class="nav-item">
               <!-- <a class="nav-link" href="#Review">Review</a> -->
               <a class="nav-link" href="/review">Review</a>
          </li>
          
          <li class="nav-item">
               <a href="/" class="language" rel="it-IT"><img src="/images/france.ico" class="flag" alt="France"></a>
               <a href="/" class="language" rel="en-En"><img src="/images/english.ico" class="flag" alt="English"></a>
          </li>
       </ul>
   </div>
</nav>