<!DOCTYPE html>
<html>
<%- include('layouts/header'); -%>

	<body data-spy="scroll" data-target=".navbar" data-offset="50" style="width: 80%; margin: 0 auto;">
		<div>
			<!---Start navigation Bar -->
			<%- include('layouts/navbar'); -%>

			</br></br>
				<!--- Start of Menu-->
				<div class="row" id="Menu">
					<div class="col navMenu">
						<h2 class="text-center">~ Menu ~</h2>
					</div>
				</div>
				<div class="row bg-light">
					<div class="col-md-4" data-aos="slide-up">
						<div class="card view zoom">
							<img class="card-img-top img-fluid " src="/images/meat.jpg">
							<div class="card-body">
								<h5 class="card-title">~ Meat Menu ~</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><b>Soup & Entree</b></li>
									<li class="list-group-item" style="font-size:17px">-프렌치 어니언 수프 & 비시스와즈</li>
									<li class="list-group-item" style="font-size:17px">-라따뚜이 & 테린</li>
									<li class="list-group-item"><b>Pasta</b></li>
									<li class="list-group-item" style="font-size:17px">-바스쿠아즈</li>
									<li class="list-group-item" style="font-size:17px">-바질 페스토 링귀니</li>
									<li class="list-group-item"><b>Viandes</b></li>
									<li class="list-group-item" style="font-size:17px">-안심스테이크</li>
									<li class="list-group-item" style="font-size:17px">-비프 부르기뇽</li>
									<li class="list-group-item"><b>Desserts</b></li>
									<li class="list-group-item" style="font-size:17px">-크렘브륄레</li>
									<li class="list-group-item" style="font-size:17px">-마카롱</li>
									<li class="list-group-item" style="font-size:17px">-마들렌</li>
									<li class="list-group-item" style="font-size:17px">-까놀레</li>
									<li class="list-group-item"><b>Coffee or tea</b></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4" data-aos="slide-up">
						<div class="card">
							<img class="card-img-top img-fluid " src="/images/fish.png">
							<div class="card-body">
								<h5 class="card-title">~ Fish Menu ~</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><b>Soup & Entree</b></li>
									<li class="list-group-item" style="font-size:17px">-프렌치 어니언 수프 & 비시스와즈</li>
									<li class="list-group-item" style="font-size:17px">-전복 카르파치오</li>
									<li class="list-group-item"><b>Pasta</b></li>
									<li class="list-group-item" style="font-size:17px">-바스쿠아즈</li>
									<li class="list-group-item" style="font-size:17px">-바질 페스토 링귀니</li>
									<li class="list-group-item"><b>Poissons</b></li>
									<li class="list-group-item" style="font-size:17px">-솔 뫼니에르</li>
									<li class="list-group-item" style="font-size:17px">-부야베스</li>
									<li class="list-group-item"><b>Desserts</b></li>
									<li class="list-group-item" style="font-size:17px">-갈레트</li>
									<li class="list-group-item" style="font-size:17px">-타르트</li>
									<li class="list-group-item" style="font-size:17px">-몽블랑</li>
									<li class="list-group-item" style="font-size:17px">-에클레어</li>
									<li class="list-group-item"><b>Coffee or tea</b></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4" data-aos="slide-up">
						<div class="card">
							<img class="card-img-top img-fluid" src="/images/wine.jpg">
							<div class="card-body">
								<h5 class="card-title">~ Wine Recommendation ~</h5>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">Bordeaux</li>
									<li class="list-group-item">Bourgogne</li>
									<li class="list-group-item">Chateau Neuf-du-Pape</li>
									<li class="list-group-item">Languedoc Roussillon</li>
									<li class="list-group-item">Beaujolais</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			
			</br></br>
			<!--- End of Menu -->
			<!-- footer -->
			<%- include('layouts/footer'); -%>

			<!-- js -->
			<%- include('layouts/scripts'); -%>
	</body>

</html>